<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-i">
        <link rel="stylesheet" href="/home/zaha/Documents/to-do-list/public/css/food-main.css">
    </head>
    <body>
        <div class="introductory-container">
            <div class="introductory-texts-container">
                <div class="first-head-in-introductory-container">Briko Salad</div>
                <div class="second-head-in-introductory-container">My culinary journey from A to Z</div>
                <div class="third-head-in-introductory-container">Join me for daily reflections and delicious recipes</div>
            </div>
            <img src="/home/zaha/Documents/to-do-list/public/images/main-food.png" alt="">
        </div>
        <div class="menu-main-container">
            <div class="food-main-container">
                <img class="food-image" src="/home/zaha/Downloads/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg" alt="">
                <div class="food-title-container">Hot-cross buns and Easter fun</div>
                <div class="food-description-container">If you thought Easter was all about chocolate, you are badly mistaken</div>
                <div class="food-additial-info-container">
                    <div class="food-created-date-container">6-10-2021</div>
                </div>
            </div>
        </div>
    </body>
</html>