<!DOCTYPE html>
<html>
    <head>
        <title>
            Task Management
        </title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="logo-container">
                    <div class="logo-text">Tasking</div>
                    <img src="/static/images/crown.png" alt="">
                </div>
                <div class="header-menu-container">
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Member</a>
                    <a href="">Enterprise</a>
                </div>
                <div class="account-container">
                    <div class="sign-in">Sign up</div>
                    <div class="sign-up">Sign in</div>
                </div>
            </div>
        </header>
        <main>
            {{.}}
        </main>
        <footer>

        </footer>
    </body>
</html>