{{ define "head"}}
<title>Update your Profile</title>
<link rel="stylesheet" href="/static/css/profile-base.css">

{{ end }}
{{ define "profile-content" }}
    <div>

    </div>
    <div>
        <form action="/profile-update" method="post">
            <div>
                <input type="text" name="name" value="{{ .Name }}" placeholder="Name" required>
            </div>
            <div>
                <input type="email" name="email" value="{{ .Email }}" placeholder="Email" required>
            </div>
            <div>
                <input type="text" name="username" value="{{ .Username }}" placeholder="Username" required>
            </div>
            <div>
                <input type="password" name="password" id="" placeholder="Password" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
{{ end }}