{{ define "head"}}
<title>Add New Task</title>
<link rel="stylesheet" href="/static/css/profile-base.css">
<link rel="stylesheet" href="/static/css/profile-task-add.css">
{{ end }}
{{ define "profile-content" }}
<div>
    New Task
</div>
<div>
    <form action="/profile-add-task" method="post">
        <input type="text" name="title" id="" required>
        <input type="datetime-local" name="deadline">
        <input type="text" name="description">
        <input type="checkbox" name="isImportant">
        <input type="submit">
    </form>
</div>
{{ end }}