{{ define "content" }}
    <div class="profile-content-container">
        <div class="profile-menu-container">
            <a href="/profile-tasks">Tasks</a>
            <a href="">Projects</a>
        </div>
        <div class="profile-right-window-container">
            <div class="profile-content-navbar-container">
                <a href="">Tasks</a>
                <a href="">Projects</a>
            </div>
            <div>
                {{ template "profile-content" . }}
            </div>
        </div>
    </div>
{{ end }}